$darkred: #AB0D2B;
$darkgreen: #00934B;
$excolor: $darkred;
$ohcolor: $darkgreen;

body{padding-top:20px}

main{
	width: 300px;
	margin: 0 auto;
}

h1, #new_game{
	text-align: center;
	padding:20px 0;
	font-family: Arial;
	font-size: 28px
}

#new_game{
	cursor: pointer;
}

.ex, .oh{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.ex path{
	fill:$excolor;
}

.oh path{
	fill:$ohcolor;
}

#tictactoe{
	table{border-top: 1px solid black; border-bottom: 1px solid black;}
	td{border: 1px dashed black; width: 100px; height: 100px; position:relative;
		&:first-child{
			border-left: none;
		}
		&:last-child{
			border-right: none;
		}
		&.winning{
			z-index: 2;
			svg{
				-webkit-filter: drop-shadow( 3px 3px 3px #000 );
				filter: drop-shadow( 3px 3px 3px #000 );
			}
		}
	}
	&[data-active="true"]{
		#new_game{display:none;}
		&[data-turn="ex"]{
			td:not([data-played=true]):hover{
				background: $excolor;
				opacity: .2;
				cursor: pointer;
			}
		}
		&[data-turn="oh"]{
			td:not([data-played=true]):hover{
				background: $ohcolor;
				opacity: .2;
				cursor: pointer;
			}
		}
	}
	tr:first-child{
		td{border-top: none;}
	}
	tr:last-child{
		td{border-bottom: none;}
	}
}
