head
  title Game
body
  main
    section#tictactoe
      table
        tr
          td {{> ex}}
          td {{> oh}}
          td {{> ex}}
        tr
          td {{> oh}}
          td {{> ex}}
          td {{> oh}}
        tr
          td {{> ex}}
          td {{> oh}}
          td {{> ex}}
