head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Game
body
  main
    section#tictactoe
      table
        tr
          td {{> ex}}
          td {{> oh}}
          td {{> ex}}
        tr
          td {{> oh}}
          td {{> ex}}
          td {{> oh}}
        tr
          td {{> ex}}
          td {{> oh}}
          td {{> ex}}
